<%- include('partials/header'); -%>
<h1>Compose</h1>
<form class ="" action = "/compose" method="post">
    <label for="title">Title</label></br>
    <input class="form-control" type="text" name='title' required='required'></br>
    <label for="postdes">Post</label></br>
    <textarea class="form-control" name="postdes" rows="6" cols="50" required='required'></textarea></br>
    <button class='btn btn-primary' type="submit" name='publish' >Publish</button>
</form>
<%- include('partials/footer'); -%>